{
  "extends": "airbnb/base",
  "rules": {
    "new-cap": ["error", {"capIsNewExceptions": ["Polymer"]}],
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allow": ["_id"] }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "debug" }]
  }
}